@{
  ViewBag.Title = @ViewBag.data.Title;
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
  <h1>@ViewBag.data.Title</h1>
  <em>"@ViewBag.data.Quote"</em>
  <hr />
</div>
<div>
  <p>released: @ViewBag.data.ReleaseYear</p>
  <p>director: @ViewBag.data.Director</p>
  <table id="sortedTable" class="tablesorter">
    <thead>
      <tr>
        <th>Actor</th>
        <th>Character</th>
      </tr>
    </thead>
    <tbody>
      @{
        var actorList = ViewBag.actorList as List<string>;
        if (actorList != null) {
          foreach (string actorRow in actorList) {
            <tr>
              @Html.Raw(actorRow)
            </tr>
          }
        }
      }
    </tbody>
  </table>
</div>
