@{
  ViewBag.Title = @ViewBag.data.Title;
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
  <h1>@ViewBag.data.Title</h1>
  <em>"@ViewBag.data.Quote"</em>
  <hr/>
</div>
<div>
  <p>released: @ViewBag.data.ReleaseYear</p>
  <p>director: @ViewBag.data.Director</p>
  <table>cast:
    @{
      var personList = ViewBag.data.HtmlActorList as List<string>;
  if (personList != null) {
    foreach (var person in personList)
    {
      <tr>
        <td>@Html.Raw(person)</td>
      </tr>
    }
  }
}
  </table>
</div>
